*.jar
*.war
*.class
/*/target/
*.netbeans_automatic_build
/Api_Client/nbproject/private/
.metadata/
Api_Platform/.settings/
Api_Util/.settings/
Api_Security/.settings/
Api_Analytics/.settings/
*.project
*.classpath
Api_Client/.vscode/
Api_Client/node_modules/datamaps/src/js/data/nul.json
Api_Client/node_modules/datamaps/src/js/data/nul.topo.json
Client/node_modules/datamaps/src/js/data/nul.json
Client/node_modules/datamaps/src/js/data/nul.topo.json
